.footer {
  clear: both;
  background-color: rgba(76, 105, 131, 0.1);
  color: rgba(39, 57, 82);
  margin-top: 50px;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  font-weight: bolder;
  left: 0;
  bottom: 0;
}

.teamname {
  display: flex;
  justify-content: center;
  color: gray;
}
