.region-select-box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(76, 105, 131, 0.1);
    width: 360px;
    height: max-content;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0.8rem;
}

.dropdown-select{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 18px;
    border-width: 0;
    text-align: center;
}