.time_box {
  background-color: rgba(76, 105, 131, 0.1);
  width: 384px;
  height: max-content;
  padding: 10px;
  margin-top: -5px;
}

.time_text {
  font-size: 13px;
  margin: 5px 10px;
}

.time_btn {
  width: 54px;
  height: 23px;
  margin: 7px 5px;
  padding:0px;
  background-color: #d9d9d9;
  color: black;
  border: none;
  cursor: pointer;
}

.time_btn_text {
  font-size: 10px;
  width: 50px;
  padding: 2px;
  text-align: center;
}

.time_btn.selected {
  background-color: rgba(39, 57, 82, 0.8);
  color: white;
}
